@import "../abstracts/variables.sass"

*,
*::before,
*::after
    box-sizing: border-box
    margin: 0

html
    font-size: 16px

body
    background: $main-bg-color
    display: flex
    align-items: center
    justify-content: center
    color: $main-text-color
    line-height: 1.6
    font-family: Stolzl, -apple-system, sans-serif
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    min-height: 100vh
    padding: 0 2rem

p,
label
    font-size: 1.1rem
    font-weight: 500

button
    border: 0
    cursor: pointer
    font-family: inherit

input[type="checkbox"]
    width: 1.2rem
    height: 1.2rem
