@font-face {
    font-family: "Stolzl";
    font-style: lighter;
    font-weight: 300;
    src: local("Stolzl Light"), local("Stolzl-Light"),
        url("fonts/Stolzl-Light.woff2") format("woff2"),
        url("fonts/Stolzl-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Stolzl";
    font-style: normal;
    font-weight: 500;
    src: local("Stolzl Book"), local("Stolzl-Book"),
        url("fonts/Stolzl-Book.woff2") format("woff2"),
        url("fonts/Stolzl-Book.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Stolzl";
    font-style: bold;
    font-weight: 700;
    src: local("Stolzl Bold"), local("Stolzl-Bold"),
        url("fonts/Stolzl-Bold.woff2") format("woff2"),
        url("fonts/Stolzl-Bold.woff") format("woff");
    font-display: swap;
}
