@import "../abstracts/variables.sass"

.c-button
    +border-radius
    width: 100%
    background-color: $button-bg-color
    color: $button-text-color
    font-size: 2rem
    padding: 10px
    font-weight: bold
    transition: transform ease 0.1s
    will-change: transform

    &:hover
        transform: scale(1.04)

    &:active
        transform: translateY(2px) scale(0.96)
