<script lang="ts" setup>
import type { PropType } from "vue"
import type { Password } from "@/types"

defineProps({
    password: {
        type: Object as PropType<Password>,
        required: true,
    },
})
</script>

<template>
    <p class="v-tooltip">
        <span class="v-tooltip__beginning">
            {{ password.sourceBeginning }}
        </span>
        <span class="v-tooltip__character">
            {{ password.character }}
        </span>
        <span class="v-tooltip__end"> {{ password.sourceEnd }}</span>
    </p>
</template>

<style lang="sass" scoped>
@import "@/assets/styles/abstracts/variables.sass"

.v-tooltip
    display: none
    position: absolute
    +box-shadow
    font-size: 1.2rem
    background-color: white
    padding: 1.5rem
    +border-radius
    z-index: 10
    width: 100%
    left: 0
    bottom: 100%
    word-break: normal

    &__character
        background-color: yellow
        font-weight: 700
</style>
