<script setup lang="ts">
import { onMounted } from "vue"
import { useI18nStore } from "@/stores/i18n"
import { usePasswordGenerator } from "@/composables/usePasswordGenerator"
import BaseCard from "@/components/BaseCard.vue"
import PasswordTooltip from "@/components/PasswordTooltip.vue"

// Put translations in a `t` object
const t = useI18nStore()

const {
    passwordLength,
    checkboxNumbers,
    checkboxSymbols,
    password,
    loadBook,
    generatePassword,
} = usePasswordGenerator()

function fluidFontSize(length: number) {
    const min = 1.43
    let value: number = 45 / length

    if (value < min) value = min
    return "font-size: " + value + "rem"
}

onMounted(async () => {
    await loadBook()
    generatePassword()
})
</script>

<template>
    <BaseCard>
        <h3 class="u-mb-">{{ t.passwordHeading }}</h3>

        <div class="v-password-wrapper u-mb" data-cy="password">
            <span
                class="v-password-wrapper__character-wrapper"
                v-for="(passwordItem, index) in password"
                :key="index"
            >
                <span
                    class="v-password-wrapper__character"
                    :style="fluidFontSize(password.length)"
                >
                    {{ passwordItem.character }}
                </span>
                <PasswordTooltip :password="passwordItem" />
            </span>
        </div>

        <div class="v-password-wrapper__inputs u-mb">
            <div class="v-password-wrapper__input">
                <label class="u-mr--" for="length-slider">{{
                    t.inputs.lengthSlider
                }}</label>
                <input
                    v-model="passwordLength"
                    class="u-mr--"
                    type="range"
                    id="length-slider"
                    min="8"
                    max="100"
                    data-cy="length-slider"
                />
                <p>{{ passwordLength }}</p>
            </div>
            <div class="v-password-wrapper__input">
                <label class="u-mr--" for="checkboxNumbers">
                    {{ t.inputs.checkboxNumbers }}
                </label>
                <input
                    v-model="checkboxNumbers"
                    type="checkbox"
                    id="checkboxNumbers"
                    data-cy="checkbox-numbers"
                />
            </div>
            <div class="v-password-wrapper__input">
                <label class="u-mr--" for="checkboxSymbols">
                    {{ t.inputs.checkboxSymbols }}
                </label>
                <input
                    v-model="checkboxSymbols"
                    type="checkbox"
                    id="checkboxSymbols"
                    data-cy="checkbox-symbols"
                />
            </div>
        </div>

        <button @click="generatePassword()" class="c-button" data-cy="button">
            {{ t.buttonText }}
        </button>
    </BaseCard>
</template>

<style lang="sass" scoped>
@import "@/assets/styles/abstracts/variables.sass"

.v-password-wrapper
    +border-radius
    background-color: $main-bg-color
    padding: 0 1rem
    word-break: break-all
    position: relative

    &__inputs
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1rem

    &__input
        display: flex
        align-items: center

    &__character-wrapper
        display: inline-block

        &:hover
            background-color: yellow

            .v-tooltip
                display: block

    &__character
        font-family: Menlo, monospace
        font-weight: 700
        font-size: 3rem
        cursor: pointer
</style>
