@import "./styles/base/fonts.scss"
@import "./styles/base/base.sass"
@import "./styles/components/_c-button.sass"
@import "./styles/utilities/_u-margin.sass"

html
    @media only screen and (max-width: 635px)
        font-size: 8px

#app
    width: 600px
    text-align: center
