<script setup lang="ts">
import { useI18nStore } from "@/stores/i18n"
import BaseHeading from "@/components/BaseHeading.vue"
import PasswordWrapper from "@/components/PasswordWrapper.vue"

// Put translations in a `t` object
const t = useI18nStore()
</script>

<template>
    <BaseHeading class="u-mb" data-cy="heading">
        {{ t.heading }}
    </BaseHeading>

    <p class="u-mb" data-cy="paragraph">
        {{ t.paragraph }}
    </p>

    <PasswordWrapper />
</template>
